

/* 
.navbar-toggler{
    focus
} */


/* .container-fluid{
     padding: 50px;
} */



.nav-link{
    color: var(--clo-black);
    font-weight: bold;
}


.nav-link-active{
    color: #fb5c42;
    font-weight: bold;
}

.navbar-toggler:focus {
    outline: none ;  
    box-shadow: none ; 
  }



  .dropdown-menu{
   
    border: solid 0px;
    border-top: solid 3px #fb5c42;
    width: 155px;
    border-radius: 0px;
  }

.dropdown-menu,ul{
    /* padding-top: 20px; */
    border-radius: 0px
}


/* .dropdown-menu  li{
    color: var(--clo-primery);
} */






