*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


:root{

    --clo-primery:#fb5c42;
    /* --clo-two:#fb5c42; */
    --clo-white:#ffff;
    --clo-black:#00000000;
    --clo-backgran:#eee;
    --font-bold:bold;
    

}


.icon-serch{



}


.icon-person{

  

}

.icon-card{

    

}

.parent-icon-header{
    margin: 20px;
}

.bii{
    margin: 10PX;
    color: black;
    padding: 10px;
    background-color: var(--clo-backgran);
    border-radius: 100%;
}

.parent-icon-mid{
    /* margin: 40px; */
}

.bi{

    margin: 5px;
    color: var(--clo-primery);
    opacity: 70%;
    /* padding: 10px; */
    font-size: 90px;
    /* border-radius: 100%; */
}


.icon-part-product{
border: 0px;
border-radius: 100%;
color: var(--clo-white);
background-color: #000;
padding: 10px;
    transition: 0.2s;
}


.parent-icon-part-product{
    border: 0px; 
    border-radius: 100%;
}
.parent-icon-part-product1{
    border: 0px; 
    border-radius: 100%;
}


.icon-part-product:hover{
    background-color: var(--clo-primery);
}
.icon-part-product1:hover{
    background-color: var(--clo-primery);
}
