.card-img-top{

}



.card-img-top:hover{

    background-image: url(/src/assets/images/222.jpg);
    background: ;

}


.ppp{


}


.ppp:hover{

    background-image: url('/src/assets/images/222.jpg');
}