
:root{

    --clo-primery:#fb5c42;
    --clo-one:#777;
    --clo-white:#ffff;
    --clo-black:#00000000;
    --font-bold:bold;
    

}


.card-img-top1{


}
.card-img-top2{

    width: 100%;
    position: absolute;
    transition: 0.5s;
    /* z-index: 1; */
    

}

.card-img-top2:hover{
    opacity: 0;
    /* display: none; */
}




.card-text{
    font-weight: bolder;
}

.card-text-prise{
    color: #777;
}

.text-off{
    color: var(--clo-white);
    background-color:var(--clo-primery) ;
    padding: 5px 10px;
    position: absolute;
    
    top: -320px;
    right: 0px;
}

.card-body{
    position: relative;
}



.parent-icon-part-product{
    position: absolute;
    top: -150px;
    /* opacity: 0; */
    
   /* z-index: 1; */
    
}
.parent-icon-part-product1{
    position: absolute;
    top: -150px;
    right: 150px;
    
    
    
}





/* stayellllll */



